name: Deploy Static HTML to Azure Web App - zerodhaclone

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_1483F3CD49F246C9B57F2EB1F454970F }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_1BD9BB0882FF4A3B987FF715FEAB3E12 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_8D8E0489DB974784845718EA8A0FF5B4 }}

      - name: Deploy static files to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'zerodhaclone'
          slot-name: 'Production'
          package: wwwroot
